EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54421
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhwanNweGJxb3BieXltd3p3cGtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2Mjk3NzksImV4cCI6MjA5MzIwNTc3OX0.4yn-pb9dyiEKf3JvKYw5iLjmvP2KqACb1lc-YTU2H2I
